@import url("https://fonts.googleapis.com/css?family=Tangerine");

button.btn-margin {
  /* margin: 7px 3px; */
  background-color:#c98520;
  color:white;
  font-family: 'Oxygen', sans-serif;
  font-size: 18px;
  cursor: pointer;
  margin-right: 10px;
  text-align: center;
  left: 600px;
  border: none;
  box-shadow: 2px 2px 6px rgb(51, 51, 51);
}

.navbar-default{
  background-color: #1871ac;
  height: 100px;
  border: none;
  border-radius: 0px;
  position: fixed;
  top:0;
  left:0;
  right:0;
  z-index: 200;
  box-shadow: 2px 0 6px rgb(88, 88, 88);
}

img.Logo {
  width: 300px;
  top: 2px;
  right: 330px;
}

/* Responsive Adjustment for <1200px */
@media only screen and (max-width: 1200px) {
  button.btn-margin {
  left: 90%;
  }
}

/* Responsive Adjustment for <750px */
@media only screen and (max-width: 750px) {
  button.btn-margin {
  left: 90%;
  }
}
  
/* Responsive Adjustment for <450px */
@media only screen and (max-width: 450px) {
/* img.Logo {
  width: 300px;
  position: relative;
  left: 8%;
} */


button#qsLoginBtn {
  position: absolute;
  top: 110px;
  left: 35%;
  margin-right: 10px;
}

button#qsLogoutBtn {
  position: absolute;
  top: 110px;
  left: 5%;
  margin-right: 10px;
}

button#savedBut {
  position: absolute;
  top: 110px;
  left: 40%;
  margin-right: 10px;
}
}