.card-bg {
    opacity: .75;
    margin-right: 10px;
    margin-left: 50px;
}

.card-space {
    margin-right: 50px;
    margin-bottom: 200px;
    margin-left: 50px; 
}

h3 {
    margin-left: 15px;
}
